/* Section contenu principal */
body{
    color : blue;
}
#main{
    width: 90%;
    margin-left: 5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 80vh;
    padding-bottom:20px;
}
header{
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 200px;
    text-align: center;
    padding-top:70px;
    padding-bottom:0;
    color: white;
    font-size: 50px;
    font-weight: 900;
}
#footer{
    text-align: center;
    color: black;
    display: block  ;
}
/* Section class global */
.border-bottom{
    border-bottom:1px solid gray;
}
.align-right{
    text-align:right;
}
.btn{
    border-radius: 5px;
    background-color: lightskyblue;
    padding:5px;
}
.btn-error{
    background-color: orangered;
}
.btn-success{
    background-color: greenyellow;
}
.inline-block{
    display: inline-block;
}
